
* {
  box-sizing: border-box!important;
}
.output{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif!important;
  font-size: 2em!important;
  background: transparent!important;
  border-radius: 10%!important;

}
.output-btn{
  display: inline-block!important;
  margin-bottom: 1rem!important;
  color: rgba(255, 255, 255, 0.7)!important;
  background-color: rgba(50, 50, 220, 0.8)!important;
  border-color: rgba(255, 255, 255, 0.2)!important;
  border-style: solid!important;
  border-width: 1px!important;
  border-radius: 0.3rem!important;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s!important;
}

.output-btn:hover {
  color: rgba(255, 255, 255, 0.8)!important;
  text-decoration: none!important;
  background-color: rgba(50, 50, 220, 0.5)!important;
  border-color: rgba(255, 255, 255, 0.3)!important;
}


::selection{
  color: brown!important;
}
::-moz-selection{
  color: brown!important;
}
body {
  padding: 0!important;
  margin: 0!important;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif!important;
  font-size: 16px!important;
  line-height: 1.5!important;
  color: #606c71!important;
}

a {
  color: #1e6bb8!important;
  text-decoration: none!important;
}

a:hover {
  text-decoration: underline!important;
}

.btn {
  display: inline-block!important;
  margin-bottom: 1rem!important;
  color: rgba(255, 255, 255, 0.7)!important;
  background-color: rgba(255, 255, 255, 0.08)!important;
  border-color: rgba(255, 255, 255, 0.2)!important;
  border-style: solid!important;
  border-width: 1px!important;
  border-radius: 0.3rem!important;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s!important;
}

.btn:hover {
  color: rgba(255, 255, 255, 0.8)!important;
  text-decoration: none!important;
  background-color: rgba(255, 255, 255, 0.2)!important;
  border-color: rgba(255, 255, 255, 0.3)!important;
}

.btn+.btn {
  margin-left: 1rem!important;
}

@media screen and (min-width: 64em) {
  .btn {
    padding: 0.75rem 1rem!important;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .btn {
    padding: 0.6rem 0.9rem!important;
    font-size: 0.9rem!important;
  }
}

@media screen and (max-width: 42em) {
  .btn {
    display: block!important;
    width: 100%!important;
    padding: 0.75rem!important;
    font-size: 0.9rem!important;
  }

  .btn+.btn {
    margin-top: 1rem!important;
    margin-left: 0!important;
  }
}

.page-header {
  color: #fff!important;
  text-align: center!important;
  background-color: #159957!important;
  background-image: linear-gradient(120deg, #155799, #159957)!important;
}

@media screen and (min-width: 64em) {
  .page-header {
    padding: 5rem 6rem!important;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .page-header {
    padding: 3rem 4rem!important;
  }
}

@media screen and (max-width: 42em) {
  .page-header {
    padding: 2rem 1rem!important;
  }
}

.project-name {
  margin-top: 0!important;
  margin-bottom: 0.1rem!important;
}

@media screen and (min-width: 64em) {
  .project-name {
    font-size: 3.25rem!important;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-name {
    font-size: 2.25rem!important;
  }
}

@media screen and (max-width: 42em) {
  .project-name {
    font-size: 1.75rem!important;
  }
}

.project-tagline {
  margin-bottom: 2rem!important;
  font-weight: normal!important;
  opacity: 0.7!important;
}

@media screen and (min-width: 64em) {
  .project-tagline {
    font-size: 1.25rem!important;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-tagline {
    font-size: 1.15rem!important;
  }
}

@media screen and (max-width: 42em) {
  .project-tagline {
    font-size: 1rem!important;
  }
}

.main-content {
  word-wrap: break-word!important;
}

.main-content :first-child {
  margin-top: 0!important;
}

@media screen and (min-width: 64em) {
  .main-content {
    max-width: 64rem!important;
    padding: 2rem 6rem!important;
    margin: 0 auto!important;
    font-size: 1.1rem!important;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .main-content {
    padding: 2rem 4rem!important;
    font-size: 1.1rem!important;
  }
}

@media screen and (max-width: 42em) {
  .main-content {
    padding: 2rem 1rem!important;
    font-size: 1rem!important;
  }
}

.main-content img {
  max-width: 100%!important;
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
  margin-top: 2rem!important;
  margin-bottom: 1rem!important;
  font-weight: normal!important;
  color: #159957!important;
}

.main-content p {
  margin-bottom: 1em!important;
}

.main-content code {
  padding: 2px 4px!important;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace!important;
  font-size: 0.9rem!important;
  color: #567482!important;
  background-color: #f3f6fa!important;
  border-radius: 0.3rem!important;
}

.main-content pre {
  padding: 0.8rem!important;
  margin-top: 0!important;
  margin-bottom: 1rem!important;
  font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace!important;
  color: #567482!important;
  word-wrap: normal!important;
  background-color: #f3f6fa!important;
  border: solid 1px #dce6f0!important;
  border-radius: 0.3rem!important;
}

.main-content pre>code {
  padding: 0!important;
  margin: 0!important;
  font-size: 0.9rem!important;
  color: #567482!important;
  word-break: normal!important;
  white-space: pre!important;
  background: transparent!important;
  border: 0!important;
}

.main-content .highlight {
  margin-bottom: 1rem!important;
}

.main-content .highlight pre {
  margin-bottom: 0!important;
  word-break: normal!important;
}

.main-content .highlight pre,
.main-content pre {
  padding: 0.8rem!important;
  overflow: auto!important;
  font-size: 0.9rem!important;
  line-height: 1.45!important;
  border-radius: 0.3rem!important;
  -webkit-overflow-scrolling: touch!important;
}

.main-content pre code,
.main-content pre tt {
  display: inline!important;
  max-width: initial!important;
  padding: 0!important;
  margin: 0!important;
  overflow: initial!important;
  line-height: inherit!important;
  word-wrap: normal!important;
  background-color: transparent!important;
  border: 0!important;
}

.main-content pre code:before,
.main-content pre code:after,
.main-content pre tt:before,
.main-content pre tt:after {
  content: normal!important;
}

.main-content ul,
.main-content ol {
  margin-top: 0!important;
}

.main-content blockquote {
  padding: 0 1rem!important;
  margin-left: 0!important;
  color: #819198!important;
  border-left: 0.3rem solid #dce6f0!important;
}

.main-content blockquote> :first-child {
  margin-top: 0!important;
}

.main-content blockquote> :last-child {
  margin-bottom: 0!important;
}

.main-content table {
  display: block!important;
  width: 100%!important;
  overflow: auto!important;
  word-break: normal!important;
  word-break: keep-all!important;
  -webkit-overflow-scrolling: touch!important;
}

.main-content table th {
  font-weight: bold!important;
}

.main-content table th,
.main-content table td {
  padding: 0.5rem 1rem!important;
  border: 1px solid #e9ebec!important;
}

.main-content dl {
  padding: 0!important;
}

.main-content dl dt {
  padding: 0!important;
  margin-top: 1rem!important;
  font-size: 1rem!important;
  font-weight: bold!important;
}

.main-content dl dd {
  padding: 0!important;
  margin-bottom: 1rem!important;
}

.main-content hr {
  height: 2px!important;
  padding: 0!important;
  margin: 1rem 0!important;
  background-color: #eff0f1!important;
  border: 0!important;
}



.site-footer {
  text-align: center!important;
  padding-top: 2rem!important;
  margin-top: 2rem!important;
  border-top: solid 1px #eff0f1!important;
}

@media screen and (min-width: 64em) {
  .site-footer {
    font-size: 1rem!important;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .site-footer {
    font-size: 1rem!important;
  }
}

@media screen and (max-width: 42em) {
  .site-footer {
    font-size: 0.9rem!important;
  }
}

.site-footer-owner {
  display: block!important;
  font-weight: bold!important;
}

.site-footer-credits {
  color: #819198!important;
}